
.container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .item {
        font-size: 4rem;
        animation: pusling 2s infinite;
    }

    @keyframes pusling {
        0% {
            transform: scale(1, 1);
        }
        50% {
            transform: scale(2, 2);
        }
        100% {
            transform: scale(1, 1);
        }
    }
}