
.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;

    .container {
        display: flex;
        height: 100%;
        overflow: hidden;

        // @media (max-width: 768px) {
        //     display: block;
        // }

        .chatListContainer {
            width: 364px;
            height: 100%;
            display: flex;
            flex-direction: column;
            background-color: var(--background-color-chatlist);
            gap: 8px;
            color: var(--color-chatlist);
            transition: background-color 0.3s linear;

            .menuIcon {
                margin: 16px 0 0 16px;
                svg:hover {
                    transform: scale(120%, 120%);
                    transition: all 0.3s;
                }
            }


            @media (max-width: 576px) {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                transition: all 0.5s;
                display: flex;
            }

            @media (min-width: 577px) {
                width: 280px;
            }

            @media (min-width: 769px) {
                width: 364px;
            }

            .blockInput {
                display: flex;
                justify-content: center;
                width: 100%;

                & input {
                    width: 100%;
                    margin: 0 8px;
                }
            }

            .chatList {
                list-style: none;
                overflow-y: auto;
                padding: 0;
                height: 100%;
            }

            .chatInfo {
                display: flex;
                align-items: center;
                gap: 6px;
                padding: 4px 8px;
                overflow: hidden;
                cursor: pointer;

                &:hover {
                    background-color: var(--background-color-input);
                }

                & .selected {
                    display: block;
                    width: 6px;
                    height: 24px;
                    border-radius: 4px;
                    background-color: rgb(135, 116, 225);
                }

                @media (max-width: 282px) {
                    gap: 8px;
                }
            }

            .foto {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #c05050;

                @media (max-width: 282px) {
                    display: none;
                }
            }

            .name {
                font-size: 1.05rem;
                padding-left: 4px;
                width: 200px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                flex: 1 1 auto;

                @media (max-width: 282px) {
                    font-size: 1.6rem;
                }
            }

        }

        .contentContainer {
            width: 100%;
            height: 100%;
            background-color: var(--background-color-content-block);
            transition: all 0.3s linear;

            display: flex;
            flex-direction: column;
            //padding: 16px;
            //gap: 16px;

            @media (max-width: 576px) {
                gap: 4px;
            }

            &>div {
                padding: 12px 12px 0 12px;
                font-size: 1.1rem;

                @media (max-width: 576px) {
                    padding: 0;
                }
            }

            .chatWindow {
                height: 100%;
                margin-bottom: 4px;
                overflow: auto;

                @media (max-width: 576px) {
                    margin: 0;
                }
            }
            
            @media (max-width: 576px) {
                position: absolute;
                right: -100%;
                opacity: 0;
                transition: all 0.5s;

                &.showContent {
                    right: 0;
                    opacity: 1;
                }
            }

            header {
                display: flex;
                align-items: center;
                background-color: var(--background-color-chatlist);
                border-radius: 12px;

                @media (max-width: 576px) {
                    border-radius: 0;
                }

                &>div {
                    display: flex;
                    padding: 8px;
                }

                .closeIcon {
                    @media (min-width: 577px) {
                        display: none;
                    }
                }

                .contentHeader {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    &>div {
                        padding: 4px;
                    }
                }
            }

            main {
                display: flex;
                flex-direction: column;
                justify-content: end;
                height: 100%;
                background-color: var(--background-color-chatlist);
                border-radius: 12px;

                @media (max-width: 576px) {
                    border-radius: 0;
                }
            }
        }

        .notSelected {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.listMessages {
    overflow: auto;
    height: 100%;

    & ul {
        list-style: none;
        padding-left: 8px;

        li {
            display: flex;
            align-items: end;
            gap: 8px;
            padding: 4px;
            
            &>span {
                border-radius: 16px;
                border-bottom-left-radius: 0;
                background-color: rgb(135, 116, 225);
                padding: 8px;
                color: #ffffff;
                max-width: 70%;
                @media (max-width: 900px) {
                    max-width: 100%;
                }
            }

            & .guest {
                background-color: var(--background-color-input);
                color: var(--color-guest-message);
            }
        }
    }
}

.inputNewMessage {
    margin: 8px;
    display: flex;
    align-items: end;
    gap: 8px;
    max-height: 30%;

    & textarea {
        width: 100%;
    }
}

