
.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;

    .container {
        display: flex;
        height: 100%;
        overflow: hidden;

        @media (max-width: 768px) {
            display: block;
        }

        .chatListContainer {
            width: 364px;
            height: 100%;
            display: flex;
            flex-direction: column;
            background-color: var(--background-color-chatlist);
            gap: 8px;
            color: var(--color-chatlist);
            transition: background-color 0.3s linear;

            .menuIcon {
                margin: 16px 0 0 16px;
                svg:hover {
                    transform: scale(120%, 120%);
                    transition: all 0.3s;
                }
            }


            @media (max-width: 768px) {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                transition: all 0.5s;
                display: flex;
            }

            .blockInput {
                display: flex;
                justify-content: center;
                width: 100%;

                & input {
                    width: 100%;
                    margin: 0 8px;
                }
            }

            .chatList {
                list-style: none;
                overflow-y: auto;
                padding: 0;
                height: 100%;
            }

            .chatInfo {
                display: flex;
                align-items: center;
                gap: 4px;
                padding: 4px 8px;
                overflow: hidden;

                &:hover {
                    background-color: var(--background-color-input);
                }

                @media (max-width: 282px) {
                    gap: 8px;
                }
            }

            .foto {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #c05050;

                @media (max-width: 282px) {
                    display: none;
                }
            }

            .name {
                font-size: 1.05rem;
                padding-left: 4px;
                width: 200px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                flex: 1 1 auto;

                @media (max-width: 282px) {
                    font-size: 1.6rem;
                }
            }

        }

        .contentContainer {
            width: 100%;
            height: 100%;
            background-color: var(--background-color-content-block);
            transition: background-color 0.3s linear;
            
            @media (max-width: 768px) {
                position: absolute;
                right: -100%;
                opacity: 0;
                transition: all 0.5s;
            }
        }
    }
}

