.cover {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    z-index: 5;
    background-color: var(--background-color-cover);
    backdrop-filter: blur(1px);
}

.coverShow {
    display: block;
}

.appBar {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 6;
    min-width: 284px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-chatlist);
    gap: 8px;
    color: var(--color-chatlist);
    transition: background-color 0.3s linear;
    transition: left 0.2s;
    box-shadow: 2px 0px 12px -2px rgba(0, 0, 0, 0.75);
    font-size: 1.1rem;
    overflow: auto;

    @media (max-width: 468px) {
        min-width: 80%;
        font-size: 1.3rem;
    }

    

    .list {
        list-style: none;
        padding: 0;

        & li {
            padding: 10px 16px;
            display: flex;
            align-items: center;
            cursor: pointer;

            & span {
                padding: 4px 10px 4px 10px;
                @media (max-width: 284px) {
                    padding: 4px 4px 4px 4px;
                    font-size: 1rem;
                }
            }

            & svg {
                @media (max-width: 284px) {
                    display: none;
                }
            }

            &:hover {
                background-color: var(--background-color-input);
            }
        }
    }
}

.userInfoContainer {
    padding: 0 16px;
    position: relative;
    background-color: var(--background-color-chatlist);
}

.userInfo {
    display: flex;
    align-items: center;
    padding: 8px 0;
    background-color: var(--background-color-chatlist);
    position: relative;
    z-index: 6;

    &__change {
        margin-left: auto;
    }
    &__change svg:hover {
        color: rgb(135, 116, 225);
    }

    .nameBlock {
        display: flex;
        flex-direction: column;
        margin-left: 12px;
        gap: 2px;

        & .name {
            font-size: 1.2rem;
            font-weight: 500;
        }
        & .login {
            font-size: 0.9rem;
        }
    }
}

.showAppBar {
    left: 0;
}

.barChild {
    background-color: #607ee0;
    position: absolute;
    top: 50%;
    left: +200%;
    transform: translate(-50%, -50%);
    transition: all 0.4s;
    z-index: 6;
    opacity: 0.1;
    width: 300px;
    //height: 300px;
    background-color: var(--background-color-chatlist);
    border-radius: 12px;

    @media (max-width: 576px) {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .barChildContent {
        padding-bottom: 8px;
        min-height: 250px;
        max-height: 95svh;
        display: flex;
        flex-direction: column;
    }
}

.showBarChild {
    left: 50%;
    opacity: 1;
}

.close {
    padding: 16px;
    text-align: right;

    & svg:hover {
        color: rgb(135, 116, 225);
    }

    .closeMobile {
        display: none;
    }
    .closeDesktop {
        display: block;
    }

    @media (max-width: 468px) {
        //text-align: left;
        .closeMenuLeft {
            text-align: left;
        }
        .closeMobile {
            display: block;
        }
        .closeDesktop {
            display: none;
        }
    }
}

