// .contentHeader__callButton {
//     display: block;
//     margin-left: auto;

//     & .item {
//         padding: 4px 12px 0 12px;
//     }
// }

.wrapper {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;

    .callState {
        color: var(--color);
        text-align: center;
    }

    .buttons {
        display: flex;
        justify-content: space-around;
        gap: 12px;

        & button {
            min-width: 100px;
        }

        &__settings {
            background-color: var(--color);
            font-size: 1.3rem;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            
            & svg {
                color: var(--color-svg);
            }
            
        }
    }

    .name p {
        color: #8774e1;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .duration p {
        text-align: center;
        font-size: 1rem;
        color: var(--color);
    }
}