

.wrapper {
    display: flex;
    padding: 0px;
    align-items: center;

    & span {
        padding: 4px 10px 4px 10px
    }
}

.container {
    width: 38px;
    height: 19px;
    //border: 2px solid var(--background-color-input);
    border: 2px solid #888888;
    border-radius: 14px;
    cursor: pointer;
    margin-left: 6px;
    position: relative;

    .item {
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: rgb(135, 116, 225);
        transition: all 0.5s;
        margin: 2px;
    }

    .active {
        left: 0px;
        
    }

    .disabled {
        background-color: rgb(87, 87, 87);
        left: 19px;
        
    }
}