@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    overflow: hidden;
}

input {
    margin: 2px;
    border: 1px solid var(--background-color-input);
    background-color: var(--background-color-input);
    border-radius: 10px;
    padding: 8px;
    color: var(--color);
    font-size: 1.1rem;
    transition: all 0.5s;
    padding-right: 12px;
    
    box-sizing: border-box;

    &:focus-visible {
        outline: 1px solid #8774e1;
        background-color: var(--background-color);
        color: var(--color);
    }
    &:hover {
        border: 1px solid #8774e1;
    }

    &[type="text"] {
        width: 100%;
    }
}

textarea {
    margin: 2px;
    border: 1px solid var(--background-color-input);
    background-color: var(--background-color-input);
    border-radius: 10px;
    padding: 8px;
    padding-right: 30px;
    box-sizing: border-box;
    color: var(--color);
    font-size: 1.1rem;
    transition: background-color 0.5s;
    resize: none;

    &:focus-visible {
        outline: 1px solid #8774e1;
        background-color: var(--background-color);
        color: var(--color);
    }
    &:hover {
        border: 1px solid #8774e1;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.appContainer {
    background-color: var(--background-color);
    color: var(--color);
    transition: background-color 0.3s linear;
    //min-height: 100lvh;
    height: 100svh;
}

button {
    background-color: var(--bg-color-button);
    padding: 8px;
    border-radius: 8px;
    color: #ebeaea;
    cursor: pointer;
    border-style: none;
    // box-shadow: 3px 3px 6px 0px rgb(97, 90, 97);
    transition: 0.5s;
    font-size: 0.85rem;

    &:active {
        box-shadow: -2px -2px 6px 0px rgba(150, 139, 150, 1);
    }

    &:hover {
        background-color: #9a86fc;
    }
}

.layoutStartPage {
    width: 100%;
    // height: 100%;
    display: flex;
    justify-content: center;
    // align-items: center;
    padding-top: 6rem;
    padding-bottom: 2rem;

    @media (max-width: 468px) {
        padding-top: 2rem;
    }
}

::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar-track {
    background-color: var(--background-color-chatlist);
}
::-webkit-scrollbar-thumb {
    background-color: #9a86fc;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #8170d6;
}

.custom-select {
    &__control {
        border-radius: 14px !important;
        background-color: var(--background-color-content-block) !important;
        border: 2px solid #888888 !important;
        &--is-focused {
            border-color: #888888 !important;
        }
    }
    &__single-value {
        color: var(--color) !important;
    }
    &__menu {
        background-color: var(--background-color-content-block) !important;
        
    }
    &__option--is-focused {
        background-color: #8674e194 !important;
    }
    &__option--is-selected {
        background-color: #8774e1 !important;
    }
}

