
.wrapper {
    margin: 0 auto;
}

.container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(135, 116, 225);
    object-fit: cover;
    @media (max-width: 468px) {
        width: 50px;
        height: 50px;
    }
}

.noAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color:rgb(233, 233, 233)
}

.avatar_isOnline {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(15, 197, 15);     
        padding: 2px;                
        border-radius: 50%;
    }