.settings {
    overflow: hidden;
    @media (max-height: 468px) and (orientation: landscape) {
        //height: 70svh;
        overflow: auto;
    }
}

.hr {
    width: 100%;
    height: 4px;
    background-color: var(--background-color-content-block);
    border: none;
}

.group {
    padding: 4px 0;
    display: flex;
    flex-direction: column;

    .item {
        padding: 8px 16px;
    }

    .item:hover {
        background-color: var(--background-color-input);
    }
}

.select {
    border: 1px solid var(--background-color-input);
    background-color: var(--background-color-input);
    border-radius: 8px;
    padding: 6px 35px 6px 15px;
    //outline: none;
    cursor: pointer;
    color: var(--color);
}

.select:focus-visible {
    outline: none;
    border: 1px solid rgb(135, 116, 225);
    //box-shadow: 0 0 0 1px #cf690a 0 0 10px #be0514;
}

.options {
    background-color: var(--background-color-input);
}

.container {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: space-between;

    .containerItem {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.listStyle {
    background-color: var(--background-color-chatlist) !important;
    width: 260px;
    min-height: 150px;
    @media (max-width: 576px) {
        width: 100%;
    }
    overflow: hidden;

    & .close {
        padding: 6px 10px 0 0;
        display: flex;
        justify-content: end;
        color: var(--color);
        &:hover {
            color: rgb(135, 116, 225);
        }
    }

    & ul {
        //width: 260px;
        color: var(--color);
        list-style: none;
        padding: 0;
        height: 260px;
        overflow: auto;

        & svg {
            font-size: 1.3rem;
            @media (max-width: 576px) {
                font-size: 1.5rem;
            }
        }

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 3px 12px;
            font-size: 1.2rem;
            @media (max-width: 576px) {
                padding: 7px 12px;
            }
        }

        li:hover {
            color: rgb(135, 116, 225);
            border-bottom: 1px solid rgba(134, 116, 225, 0.363);
            background-color: var(--background-color-input);
        }
    }
}

.empty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    color: #555;
    font-family: sans-serif;
}

.empty-icon {
    font-size: 64px;
    animation: pulse 1.5s infinite;
}

.empty-text {
    color: var(--color);
    margin-top: 12px;
    font-size: 18px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.7;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.7;
    }
}

// .checkMenu:checked ~ .dropDawn {
//     min-height: 100px;
//     font-size: inherit;
// }

.button {
    //width: 100px;
    margin-left: 16px;
    &__content {
        display: flex;
        gap: 8px;
        align-items: center;

        font-size: 1rem;
        @media (max-width: 468px) {
            font-size: 1.2rem;
        }
    }
}

.confirm {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;

    & .text {
        padding: 6px 0;
        margin: 0 auto;
        font-size: 1rem;
        font-weight: 500;
        color: var(--color);
        text-align: center;
    }

    & .buttons {
        display: flex;
        justify-content: center;
        gap: 24px;

        & button {
            min-width: 84px;
        }
    }
}

.styledListContainer {
    border-radius: 12px;
    //border: 1px solid #ccc;
    padding: 8px 8px;
    background-color: var(--background-color-content-block);
    max-width: 600px;
    margin: 0 auto;
}

.styledListItem {
    padding: 4px 0;
}

.styledListTitle {
    font-size: 0.85rem;
    font-weight: 500;
    margin-bottom: 4px;
    color: #8774e1;
}

.styledListDescription {
    font-size: 0.95rem;
    //color: #333;
}

.styledListDivider {
    margin-top: 8px;
    border-bottom: 1px solid var(--background-color-chatlist);
}
