.settings {
    overflow: hidden;
    @media (max-height: 468px) and (orientation: landscape) {
        height: 70svh;
        overflow: auto;
    }
}

.hr {
    width: 100%;
    height: 4px;
    background-color: var(--background-color-content-block);
    border: none;
}

.group {
    padding: 4px 0;
    display: flex;
    flex-direction: column;

    .item {
        padding: 8px 16px;
    }

    .item:hover {
        background-color: var(--background-color-input);
    }
}

.select {
    border: 1px solid var(--background-color-input);
    background-color: var(--background-color-input);
    border-radius: 8px;
    padding: 6px 35px 6px 15px;
    //outline: none;
    cursor: pointer;
    color: var(--color);
}

.select:focus-visible {
    outline: none;
    border: 1px solid rgb(135, 116, 225);
    //box-shadow: 0 0 0 1px #cf690a 0 0 10px #be0514;
}

.options {
    background-color: var(--background-color-input);
}

.container {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: space-between;

    .containerItem {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.listStyle {
    background-color: var(--background-color-chatlist) !important;
    width: 260px;
    @media (max-width: 576px) {
        width: 100%;
    }
    overflow: hidden;

    & .close {
        padding: 6px 10px 0 0;
        display: flex;
        justify-content: end;
        color: var(--color);
    } 

    & ul {
        //width: 260px;
        color: var(--color);
        list-style: none;
        padding: 0;
        height: 260px;
        overflow: auto;

        & svg {
            font-size: 1.3rem;
            @media (max-width: 576px) {
                font-size: 1.5rem;
            }
        }

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 3px 12px;
            font-size: 1.2rem;
            @media (max-width: 576px) {
                padding: 7px 12px;
            }
        }

        li:hover {
            color: rgb(135, 116, 225);
            border-bottom: 1px solid rgba(134, 116, 225, 0.363);
            background-color: var(--background-color-input);;
        }
    }
}



// .checkMenu:checked ~ .dropDawn {
//     min-height: 100px;
//     font-size: inherit;
// }


.button {
    width: 100px;
    margin-left: 16px;
    &__content {
        display: flex;
        gap: 8px;
        align-items: center;
        
        font-size: 1rem;
        @media (max-width: 468px) {
            font-size: 1.2rem;
        }
    }
}

