
.container {
    display: flex;
    align-items: center; 
    gap: 4px; 
    justify-content: center;
    padding: 8px; 
    margin-bottom: 8px;

    .item {
        font-size: '1.3rem'; 
        font-weight: 'bold'; 
        color: #8774e1; 
        font-style: italic;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .AppLogo {
    animation: App-logo-spin infinite 2s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.1, 1.1);
    }
}