
.checkboxBlock {
    padding: 12px;
    border-radius: 8px;
    transition: all 0.2s;

    &:hover {
        background-color: var(--background-color-input);
    }

    & span {
        margin-left: 12px;
    }

    & input {
        cursor: pointer;
    }
}

.error {
    margin: 2px;
    min-height: 12px;
    padding: 2px;
    width: 240px;

    & span {
        color: #ff5c5ce8;
        font-size: medium;
    }
}

.passwordInput {
    position: relative;
    //width: 240px;
    display: flex;
    width: 100%;

    input {
        width: 100%;
    }

    svg {
        position: absolute;
        top: 14px;
        right: 16px;
        font-size: 1.2rem;
    }
}

.resetPassword {
    padding: 12px;
    color: #8774e1;

    & span {
        cursor: pointer;
    }
}

.group {
    padding: 4px 8px;
    display: flex;
    flex-direction: column;

    form {
        display: flex;
        justify-content: center;
    }

    .item {
        padding: 8px 16px;
    }
    // input[type='text'] {
    //         width: calc(100% - 20px);
    //     }

    &>:first-child {
        padding-bottom: 0;
    }

    &>:nth-child(2) {
        padding-top: 0;
    }

    button {
        margin: 0 auto;
        width: 130px;
    }
}

.labelGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 4px;

    label {
        display: flex;
        gap: 8px;
    }
}

.changeUserInfo {
    height: 0;
    transition: all 0.5s;
    opacity: 0;

    &_show {
        height: 110px;
        opacity: 1;
    }

    & input {
        font-size: 0.8rem;
        width: 100%;
        padding: 5px;
    }

    & button {
        margin-left: 2px;
    }

    &__item {
        display: flex;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 8px;
        position: absolute;
        top: -58px;
        z-index: -1;
        transition: all 0.5s;

        &_show {
            top: 62px;
            z-index: 7;
        }
    }

    .error {
        border-color: rgba(252, 3, 3, 0.753);
    }
}

